<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Address</key>
		<string>528 Stewart Avenue</string>
		<key>Owner</key>
		<string>Jessica Shu</string>
		<key>Type</key>
		<string>Sublet</string>
		<key>Bedrooms</key>
		<integer>12</integer>
		<key>Dates</key>
		<string>6/1/2013 - 8/25/2013</string>
		<key>PictureFileName</key>
		<string>528stewart.jpg</string>
		<key>Cost</key>
		<string>$780</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>528 Stewart Avenue</string>
		<key>Owner</key>
		<string>Jessica Shu</string>
		<key>Type</key>
		<string>Sublet</string>
		<key>Bedrooms</key>
		<integer>12</integer>
		<key>Dates</key>
		<string>6/1/2013 - 8/25/2013</string>
		<key>PictureFileName</key>
		<string>528stewart.jpg</string>
		<key>Cost</key>
		<string>$780</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>528 Stewart Avenue</string>
		<key>Owner</key>
		<string>Jessica Shu</string>
		<key>Type</key>
		<string>Sublet</string>
		<key>Bedrooms</key>
		<integer>12</integer>
		<key>Dates</key>
		<string>6/1/2013 - 8/25/2013</string>
		<key>PictureFileName</key>
		<string>528stewart.jpg</string>
		<key>Cost</key>
		<string>$780</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>528 Stewart Avenue</string>
		<key>Owner</key>
		<string>Jessica Shu</string>
		<key>Type</key>
		<string>Sublet</string>
		<key>Bedrooms</key>
		<integer>12</integer>
		<key>Dates</key>
		<string>6/1/2013 - 8/25/2013</string>
		<key>PictureFileName</key>
		<string>528stewart.jpg</string>
		<key>Cost</key>
		<string>$780</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>528 Stewart Avenue</string>
		<key>Owner</key>
		<string>Jessica Shu</string>
		<key>Type</key>
		<string>Sublet</string>
		<key>Bedrooms</key>
		<integer>12</integer>
		<key>Dates</key>
		<string>6/1/2013 - 8/25/2013</string>
		<key>PictureFileName</key>
		<string>528stewart.jpg</string>
		<key>Cost</key>
		<string>$780</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>528 Stewart Avenue</string>
		<key>Owner</key>
		<string>Jessica Shu</string>
		<key>Type</key>
		<string>Sublet</string>
		<key>Bedrooms</key>
		<integer>12</integer>
		<key>Dates</key>
		<string>6/1/2013 - 8/25/2013</string>
		<key>PictureFileName</key>
		<string>528stewart.jpg</string>
		<key>Cost</key>
		<string>$780</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>528 Stewart Avenue</string>
		<key>Owner</key>
		<string>Jessica Shu</string>
		<key>Type</key>
		<string>Sublet</string>
		<key>Bedrooms</key>
		<integer>12</integer>
		<key>Dates</key>
		<string>6/1/2013 - 8/25/2013</string>
		<key>PictureFileName</key>
		<string>528stewart.jpg</string>
		<key>Cost</key>
		<string>$780</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>528 Stewart Avenue</string>
		<key>Owner</key>
		<string>Jessica Shu</string>
		<key>Type</key>
		<string>Sublet</string>
		<key>Bedrooms</key>
		<integer>12</integer>
		<key>Dates</key>
		<string>6/1/2013 - 8/25/2013</string>
		<key>PictureFileName</key>
		<string>528stewart.jpg</string>
		<key>Cost</key>
		<string>$780</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>528 Stewart Avenue</string>
		<key>Owner</key>
		<string>Jessica Shu</string>
		<key>Type</key>
		<string>Sublet</string>
		<key>Bedrooms</key>
		<integer>12</integer>
		<key>Dates</key>
		<string>6/1/2013 - 8/25/2013</string>
		<key>PictureFileName</key>
		<string>528stewart.jpg</string>
		<key>Cost</key>
		<string>$780</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>528 Stewart Avenue</string>
		<key>Owner</key>
		<string>Jessica Shu</string>
		<key>Type</key>
		<string>Sublet</string>
		<key>Bedrooms</key>
		<integer>12</integer>
		<key>Dates</key>
		<string>6/1/2013 - 8/25/2013</string>
		<key>PictureFileName</key>
		<string>528stewart.jpg</string>
		<key>Cost</key>
		<string>$780</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>528 Stewart Avenue</string>
		<key>Owner</key>
		<string>Jessica Shu</string>
		<key>Type</key>
		<string>Sublet</string>
		<key>Bedrooms</key>
		<integer>12</integer>
		<key>Dates</key>
		<string>6/1/2013 - 8/25/2013</string>
		<key>PictureFileName</key>
		<string>528stewart.jpg</string>
		<key>Cost</key>
		<string>$780</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>528 Stewart Avenue</string>
		<key>Owner</key>
		<string>Jessica Shu</string>
		<key>Type</key>
		<string>Sublet</string>
		<key>Bedrooms</key>
		<integer>12</integer>
		<key>Dates</key>
		<string>6/1/2013 - 8/25/2013</string>
		<key>PictureFileName</key>
		<string>528stewart.jpg</string>
		<key>Cost</key>
		<string>$780</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>528 Stewart Avenue</string>
		<key>Owner</key>
		<string>Jessica Shu</string>
		<key>Type</key>
		<string>Sublet</string>
		<key>Bedrooms</key>
		<integer>12</integer>
		<key>Dates</key>
		<string>6/1/2013 - 8/25/2013</string>
		<key>PictureFileName</key>
		<string>528stewart.jpg</string>
		<key>Cost</key>
		<string>$780</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>528 Stewart Avenue</string>
		<key>Owner</key>
		<string>Jessica Shu</string>
		<key>Type</key>
		<string>Sublet</string>
		<key>Bedrooms</key>
		<integer>12</integer>
		<key>Dates</key>
		<string>6/1/2013 - 8/25/2013</string>
		<key>PictureFileName</key>
		<string>528stewart.jpg</string>
		<key>Cost</key>
		<string>$780</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>528 Stewart Avenue</string>
		<key>Owner</key>
		<string>Jessica Shu</string>
		<key>Type</key>
		<string>Sublet</string>
		<key>Bedrooms</key>
		<integer>12</integer>
		<key>Dates</key>
		<string>6/1/2013 - 8/25/2013</string>
		<key>PictureFileName</key>
		<string>528stewart.jpg</string>
		<key>Cost</key>
		<string>$780</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>528 Stewart Avenue</string>
		<key>Owner</key>
		<string>Jessica Shu</string>
		<key>Type</key>
		<string>Sublet</string>
		<key>Bedrooms</key>
		<integer>12</integer>
		<key>Dates</key>
		<string>6/1/2013 - 8/25/2013</string>
		<key>PictureFileName</key>
		<string>528stewart.jpg</string>
		<key>Cost</key>
		<string>$780</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>528 Stewart Avenue</string>
		<key>Owner</key>
		<string>Jessica Shu</string>
		<key>Type</key>
		<string>Sublet</string>
		<key>Bedrooms</key>
		<integer>12</integer>
		<key>Dates</key>
		<string>6/1/2013 - 8/25/2013</string>
		<key>PictureFileName</key>
		<string>528stewart.jpg</string>
		<key>Cost</key>
		<string>$780</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>528 Stewart Avenue</string>
		<key>Owner</key>
		<string>Jessica Shu</string>
		<key>Type</key>
		<string>Sublet</string>
		<key>Bedrooms</key>
		<integer>12</integer>
		<key>Dates</key>
		<string>6/1/2013 - 8/25/2013</string>
		<key>PictureFileName</key>
		<string>528stewart.jpg</string>
		<key>Cost</key>
		<string>$780</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>528 Stewart Avenue</string>
		<key>Owner</key>
		<string>Jessica Shu</string>
		<key>Type</key>
		<string>Sublet</string>
		<key>Bedrooms</key>
		<integer>12</integer>
		<key>Dates</key>
		<string>6/1/2013 - 8/25/2013</string>
		<key>PictureFileName</key>
		<string>528stewart.jpg</string>
		<key>Cost</key>
		<string>$780</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>528 Stewart Avenue</string>
		<key>Owner</key>
		<string>Jessica Shu</string>
		<key>Type</key>
		<string>Sublet</string>
		<key>Bedrooms</key>
		<integer>12</integer>
		<key>Dates</key>
		<string>6/1/2013 - 8/25/2013</string>
		<key>PictureFileName</key>
		<string>528stewart.jpg</string>
		<key>Cost</key>
		<string>$780</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>528 Stewart Avenue</string>
		<key>Owner</key>
		<string>Jessica Shu</string>
		<key>Type</key>
		<string>Sublet</string>
		<key>Bedrooms</key>
		<integer>12</integer>
		<key>Dates</key>
		<string>6/1/2013 - 8/25/2013</string>
		<key>PictureFileName</key>
		<string>528stewart.jpg</string>
		<key>Cost</key>
		<string>$780</string>
	</dict>
</array>
</plist>
